@import url('https://fonts.google.com/specimen/Bubbler+One');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Vibur', cursive;
	font-size: 20px;
}

h1 {
	color: #709176;
	text-align: center;
	padding: 20px;
	/*text-shadow: 3px 2px red;*/
}
h2 {
	font-size: pink;
	text-align: center;

}

button {
	height: 40px;
	width: 140px;
	border: hidden;
	color: #709176;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
}

button:hover {
	background-color: #709176;
	color: white;
}

label {
	color: #709176;
}

.to-do-form {
	font-size: 40px;
	padding: 10px;
	margin: 2%;
	display: block;
	text-align: center;	
}

input {
	height: 40px;
	width: 180px;
	background: #DAB49D;
	border-radius: 4px;
}

img {
	display: block;
	margin: auto;
	}

	.main-header {
		background-image: 'images/smallcactus.jpeg';
		margin: auto;
	}

	.close-to-do {
		display: inline-block;
		margin: 10px;
		font-size: 25px;
		color: #CDE77F;
	}